#titles {
    background-color: pink;
    border: 1px solid blue;
    text-align: center;
}

.header {
    color: blue;
}

#middle {
    display: flex;
    background-color: lightblue;
    color: black;
}

#image {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

#link {
    text-align: right;
}